<content>
  <h2 style="margin: 0;">Update Example</h2>
  <form *ngIf="example" (ngSubmit)="updateExample()">
    <p>
      <strong>{{ example.id }}</strong>
      <strong>{{ example.title }}</strong>
      <strong>{{ example.description }}</strong>
    </p>
    <div>
      <label for="title">Title:</label>
      <input id="title" [(ngModel)]="example.title" name="title" required />
    </div>
    <div>
      <label for="description">Description:</label>
      <input
        id="description"
        [(ngModel)]="example.description"
        name="description"
        required
      />
    </div>
    <button type="submit">Update</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </form>
</content>